.results__container {
  width: 100%;
  min-height: 100vh;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 241, 243);
  animation: slide-gallery 1s ease-in-out forwards;
}
.results__containerH1 {
  width: 100%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transform: translatey(100%);
  animation: slide-gallery 2s ease-in-out forwards;
  scale: 0.5;
}
.results__containerH1 h1 {
  max-width: 1800px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.7em;
  font-weight: 800;
  padding-left: 2em;
  transition: 0.5s;
}
.results__containerH1 i {
  font-size: 1em;
  margin-top: 0.4em;
  padding-left: 0.5em;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.results__containerH1 h1:hover {
  color: greenyellow;
}
.results__containerH1 i:hover {
  color: greenyellow;
  transition: 0.5s;
}
.carResults__container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  padding: 2em;
  padding-top: 5em;
  transform: translateY(100%);
  animation: slide-gallery 2s ease-in-out forwards;
  scale: 0.5;
}

@keyframes slide-gallery {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

.cardResults__events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  gap: 2.7em;
}

.cardResults__events h2 {
  font-size: 1.7em;
  font-weight: 800;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.cardResults__events i {
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin-top: 0.4em;
  transition: 0.5s;
}
.cardResults__events i:hover {
  color: greenyellow;
  transition: 0.5s;
}
.cardResults__imgContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
}

.cardResults__imgContainer img {
  width: 16em;
  height: 23em;
  border-radius: 0.5em;
  transition: 0.5s;
}

.cardResults__imgContainer img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 0 0.5em 0.1em black;
}

@media (max-width: 1300px) {
  .results__container {
    padding-top: 4em;
  }
}
