.eventRules__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8em;
  justify-content: center;
  align-items: center;
  animation: slide-rules 2s ease-in-out forwards;
}

@keyframes slide-rules {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.eventRules_containerText {
  max-width: 1200px;
  padding: 1.5em;
}

.eventRules__Text {
  padding-bottom: 5em;
}
.eventRules__Text h1 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
  text-decoration: underline;
}
.eventRules__Text kbd {
  white-space: pre-line;
  font-weight: 500;
  font-size: 0.95em;
}

.eventRules__inscription {
  padding: 2em;
  padding-bottom: 5em;
}

@media (max-width: 1300px) {
  .eventRules__container {
    padding-top: 4em;
  }
}
