.sponsor__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8em;
  animation: slide-abouts 2s ease-in-out forwards;
}

@keyframes slide-sponsors {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sponsor__h1 {
  height: 8em;
  width: 100%;
  background-color: rgb(4, 5, 14);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}
.sponsor__h1 h1 {
  font-size: 1.6em;
  font-weight: 800;
}
.sponsor__cardContainer {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 1.5em;
  padding-top: 8em;
}

.cardSponsor__container {
  width: 18em;
  height: 18em;
  overflow: hidden;
  position: relative;
}

.cardSponsor__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cardSponsor__container:hover .cardSponsor__section {
  transform: rotateY(0);
}

.cardSponsor__h2 {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.cardSponsor__p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.7rem;
  width: 14rem;
  height: 14rem;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  opacity: 0;
  transform: translateX(-150%);
  transition: all 0.5s ease;
}

.cardSponsor__container:hover .cardSponsor__p {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.cardSponsor__img {
  width: 14em;
  height: 14em;
}

@media (max-width: 1300px) {
  .sponsor__container {
    padding-top: 4em;
  }
  .cardSponsor__section {
    scale: 0.8;
  }
}
